<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We use your photos so you can pick a face for your sticker.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We save your generated stickers to your photo library.</string>
	<key>NSCameraUsageDescription</key>
	<string>We use the camera so you can take a face photo for your sticker.</string>
	<key>GeminiAPIKey</key>
	<string>$(GEMINI_API_KEY)</string>
	<key>HuggingFaceAPIKey</key>
	<string>$(HUGGINGFACE_API_KEY)</string>
	<key>ReplicateAPIKey</key>
	<string>$(REPLICATE_API_KEY)</string>
</dict>
</plist>
